@import "../shared/global_style.css";


.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

    .input > input[type="text"] {
        font-size: 20px;
        font-weight: lighter;
        margin: 0.5% 20% 0%;
        padding: 2.5%;
    }

    .input > input[type=submit] {
        background-color: var(--blue);
        border: none;
        color: white;
        margin-left: 38%;
        height: 40px;
        width: 25%;
        text-align: center;
        border-radius: 20px;
        font-size: 24px;
    }

.generated {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
}

    .generated > p {
        color: var(--blue);
        margin: 10px;
    }

/* course page  */

.statistics {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tile {
    padding: 2%;
    margin: 0 20px 20px 0;
}

.row1 .tile {
    flex: 0.5;
    margin-right: 0;
}


.row1 {
    display: flex;
    flex-flow: row wrap;
}

.col1 {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

td a {
    color: var(--title-grey);
}

table {
    border-spacing: 10px;
    font-size: 18px;
    color: var(--title-grey);
    padding-left: 10%;
    padding-top: 5%;
}

.weeks tr > td {
    border: 1px ridge var(--title-grey);
    padding: 1px 10px 1px 10px;
}

.weeks td:nth-child(1) {
    color: var(--blue);
    border: none;
}

.weeks tr td:hover {
    background-color: #f5f5f5;
}



/* only for phones and tablets */
@media only screen and (max-width:900px) {

    .input > input[type=submit] {
        height: 60px;
        width: 30%;
        font-size: 34px;
    }

    .generated {
        padding: 10px;
    }

    .weeks tr > td {
        padding: 0px 30px;
      
    }
}
