
    <div  class="row view">
        <div  class="tile">
            <table>
                <!-- for this list we will search through the current week  ( we will have a course model with every data we need, that will be populated when we login as a profesor) -->
                <tr>
                    <th>Week 1</th>
                    <th id="group">Group: A2</th>
                    <th>Total presence: 2</th>
                </tr>
            </table>

            <ol>
                <li>Florean Oana-Lavinia</li>
                <li>Olariu Madalina-Stefana</li>
            </ol>
        </div>

        <div id = 'extra' class="tile">
            <p>TODO</p>
        </div>
    </div>
