<div class="tile view">


    <form>
        <div class="input">
            <input type="text" name="Course" placeholder="Course"><br>
            <input type="text" name="Week" placeholder="Week"><br>
            <input type="text" name="Group" placeholder="Group"><br>
            <input type="text" name="Nr. of students" placeholder="Nr. students"><br>
            <input type="submit" name="Generate" value="Generate" title="Generate"><br>
        </div>
        <div class="generated">
            <p>_ _ _</p>
            <p>_ _ _</p>
            <p>_ _ _</p>
        </div>
    </form>


</div>