<div  class="statistics view">
<div class="row1">
    <div class="col1">
            <div class=" tile">
                    <p > Raport prezentasdfdsfdgfdgfdgh</p>
                </div>
            
                <div class="tile">
                    <p > Raport punctaj </p>
                </div>
    </div>
    

   
    <div class="tile">
        <div class="weeks">
           <table>
                <!-- for this table we will search through the week list of the current course 
                     ( we will have a course model with every data we need, that will be populated when we login as a profesor)  -->
                <tr>
                    <td>Week 1</td>
                    <td><a href="#statistics/group-name"  >A1</a></td>
                    <td><a href="#statistics/group-name" >A2 </a></td>
                </tr>
                <tr>
                    <td>Week 2</td>
                    <td>A1</td>
                    <td>A2</td>
                </tr>

                <tr>
                    <td>Week 3</td>
                    <td>A1</td>
                    <td>A2</td>
                </tr>

                <tr>
                    <td>Week 4</td>
                    <td>A1</td>
                    <td>A2</td>
                </tr>

                <tr>
                    <td>Week 5</td>
                    <td>A1</td>
                    <td>A2</td>
                </tr>

            </table> 
        </div>
    </div>
</div>

    <div class="tile">
        <p > Raport </p>
    </div>
</div>
