<div  class="statistics view">
<div class="row1">
    <div class="col1">
            <div class=" tile">
                <p > Raport prezentasdfdsfdgfdgfdgh</p>
            </div>
            
                <div class="tile">
                    <canvas id="pointsChart"></canvas>
                    <!-- <p > Raport punctaj </p> -->
                </div>
    </div>
    

   
    <div class="tile" id="weeksContent">
        <div class="weeks">
           <table id="weeks">
                <!-- for this table we will search through the week list of the current course 
                     ( we will have a course model with every data we need, that will be populated when we login as a profesor)  -->
                <!-- <tr>
                    <td>Week 1</td>
                    <td><a href="#statistics/group-name"  >A1</a></td>
                    <td><a href="#statistics/group-name" >A2 </a></td>
                </tr> -->

            </table> 
        </div>
    </div>
</div>

    <!-- <div class="tile">
        <p > Raport </p>
    </div> -->
</div>
