@import "../shared/global_style.css";



#option{
    width:100%;

}
/* reports */
.row{
    display: flex;
    width: 100%;
}

.reports{
    display: flex;
    flex-flow: column ;
    width: 100% ;
}

.row .tile{
    width: 100%;
    margin: 0 20px 20px 0;
}

/*course view*/
.week{
    width: 100%;
}

.tile {
    padding: 30px; 
    height: 100%;
}

.view-render{
    justify-content: center;
}
.container{
    width: 60%;
}

th:first-child{
    color:var(--blue);
}
/*attend view*/
.attend .tile{
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 100%;
    width: 100%;
}

#attend {
    justify-content: center;
}

th {
    margin-right: 7%;
}

#number {
    color: var(--blue);
}

.title{
    font-size:40px;
    text-align: center;
    color:var(--title-grey);
    padding-bottom: 60px;
}


input, select{
    font-size: 120%;
    margin-bottom: 10%;
    height: 40px;
}

/* only for phones and tablets */
@media only screen and (max-width: 900px)  {

    .title{
        font-size: 30px;
    }
    
    .list-items ul {
        padding-left: 30%;
        margin: 0;
      
    }
   
    .row{
        flex-wrap: wrap;
     }

.container , .view-render{
    height: 100%;
    width: 100%
}
     
.buttons{
    display:none;
}

tr{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 15px;
}
    }



