
@import "variables.css";
body {
    box-sizing: border-box;
    font-family: Helvetica;
}

 /* containerele pentru rapoarte and stuff */
.tile {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 5px 12px rgba(0,0,0,0.10);
}

.text {
    font-size: 18px;
    color: var(--title-grey);
}

.button {
    background-color: var(--blue); 
    border: none;
    color: white;
    height: 40px;
    width: 150px;
    margin: 25px 0 0 0;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.menu {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    height: 743px;
    padding: 7%;
    font-family: Helvetica;
}
.menuOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10%;
}

.item {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: var(--menu-text);
    padding-top: 7%;
}

.item .labelItem {
    display: flex;
    flex-direction: row;
}

.imageItem{
    flex: 1;
}

.item .titleItem{
    flex: 3;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 22px;
}

.item .listItem {
    display: flex;
    flex-direction: column;
    font-size: 14px; 
}

.item .listItem ul{
    padding-top: 5%;
    padding-left: 35%;
    margin: 0;
}

.menuUser {
    font-size: 24px;
    color: var(--menu-text);
    text-align: center;
    justify-content: center;
    padding-top: 5%;
}

.menuUser .statute {
    font-size: 16px;
}

